/* general template layout */

html{
    scroll-behavior: smooth;
}

body {
    margin: 1%;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background: black;
    color: azure;
    font-family: 'Vollkorn';
}

.main{
    margin: 0 auto;
    overflow: hidden;
}

/* styles for header intro */

.header{
    margin-left: 650px;
    position: relative;
}
.avatar{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 70px;
}
.hello{
    margin-left: 30px;
    font-size: 50px;
}
.helPara{
    position: relative;
    right: 300px;
    word-spacing: 10px;
    font-stretch: ultra-expanded;
    font-size: 35px;
}
hr{
    position: relative;
    width: 80%;
    margin-right:140px;
}
.hr2{
    position: relative;
    bottom: 8px;
}

/* header closed */
/* first grid decorations */

.hello2{
    position: relative;
    font-size: 50px;
    text-align: center;
}

/* first container layout */

.container1{
    margin: 0 auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 400px);
    column-gap: 30px;
    height: 800px;
    
}

.container1 > div{
    display: grid;
    grid-gap: 5px;
    margin-left: 100px;
    width: 400px;
}

/* images for first container */

.picblock1 img{
    width: 400px;
    height: 300px;
}

.picblock2 img{
    width: 400px;
    height: 300px;
}

.picblock3 img{
    width: 400px;
    height: 300px;
}

.picblock4 img{
    width: 400px;
    height: 300px;
}

.picblock5 img{
    width: 400px;
    height: 300px;
}

.picblock6 img{
    width: 400px;
    height: 300px;
}

.picblock7 img{
    width: 400px;
    height: 300px;
}

.picblock8 img{
    width: 400px;
    height: 300px;
}

.picblock9 img{
    width: 400px;
    height: 300px;
}

/* container 2 content and styling */

.container2{
    margin: 0 auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 640px);
    height: 800px;
}

.container2 > div{
    display: grid;
    position: relative;
    grid-gap: 30px;
    margin-left: 110px;
    width: 640px;
}

.gridBlock2{
    position: relative;
    right: 30px;
}

.gridBlock3 > img{
    width: 1255px;
}

.gridBlock4{
    position: relative;
    top: 865px;
    right: 30px;
}

/* container 3 content and styling */

.container3{
    margin: 0 auto;
    display: grid;
    grid-gap: 130px;
    grid-template-columns: repeat(4, 200px);
}

.container3 > div{
    display: grid;
    grid-gap: 30px;
    position: relative;
    left: 100px;
}

.container3 > div > img{
    width: 300px;
}

.container3 > div > p{
    position: relative;
    margin-top: 40px;
    margin-left: 70px;
    font-size: 25px;
    color: #ff3;
}

/* footer content including copyright and contact info */
footer{
    height: 150px;
    margin: 0 auto;
}

footer > ul{
    position: relative;
    top: 70px;
    left: 50px;
    display: inline;
    font-size: 25px;
    color: #ff3;
}

/* extra styles for pics and anchor tags*/

span{
    color: #ff3;
}

span:hover{
    color: grey;
}

ul:hover{
    color: grey;
}

a{
    text-decoration: none;
    color: #ff3;
}
a:hover{
    color: gray;
}
a:active{
    color: rgb(101, 119, 0);
}

.grey{
    transition: opacity .3s linear;
}
.grey:hover{
    opacity: 0.7;
}

/* general styling for fonts */

.h1{
    color: #ff3;
    position: relative;
    bottom: 25px;
}

.h1:hover{
    color: gray;
}

p{
    position: relative;
    bottom: 60px;
    font-size: 16px;
}

/* responsiveness */

@media screen and (max-width: 960px) {
/* general responsiveness */

     .header{
        display: none;
    }

     hr{
        display: none;
    }

    .main{
        overflow: hidden;
        width:96%;
        padding: 2%;
    }

/* container 1 responsiveness */

    .container1{
        display: inline-block;
        grid-auto-columns: auto;
    }

/* container 2 responsiveness */

    .container2{
        display: grid;
        grid-auto-columns: auto;
    }

    .container2 > div > img{
        display: inline-block;
        width: 400px;
        position: relative;
        bottom: 700px;
    }

    .gridBlock2{
        position: relative;
        right: 670px;
        top: 900px;
    }

    .gridBlock4{
        position: relative;
        right: 670px;
        top: 900px;
    }

    .photo{
        position: relative;
        bottom: 700px; 
    }

/* conatiner 3 responsiveness */

    .container3{
        display: inline-block;
        grid-auto-columns: auto;
        position: relative;
        left: 40px;
        bottom: 900px;
    }

    .current{
        position: relative;
        bottom: 1000px;
    }

    hr{
        display: none;
    }

    .footer{
        position: relative;
        left: 20px;
        bottom: 1000px;
    }

    .jon{
        position: relative;
        left: 150px;
    }
}



