/* general body layout */
html{
    scroll-behavior: smooth;
}

body {
    background-color: #101a24;
    font-family: Vollkorn,-apple-system,BlinkMacSystemFont,Georgia,Times New Roman,Times,serif;
    border-top: 13px solid rgb(61, 60, 60);
    margin: 0 auto;
    padding: 3.5em;
}

/* Font styles */

/* Styling for h1 */
h1 {
    color: white;
    font-size: 2.9em;
    font-weight: 700;
    text-align: center;
    font-family: 'Vollkorn', serif;
    display: inline-block;
    margin: 10px 0 0 0;
}

/* styling for paragraphs */
p {
    color: #ccc;
    font-size: 2.125em;
    font-weight: 400;
    font-family: 'Vollkorn', serif;
    margin-top: 0;
}

hr {
    height: 4px;
    border-top: none;
    border-bottom: 3px double #6f6f6f;
    border-left: none;
    border-right: none;
}
/* Styling for h2 */
.selected-heading {
    color: white;
    font-size: 2.875em;
    font-weight: 700;
    text-align: center;
    margin: 0 0 10px 0;
    padding-top: 3.25em;
}

.photography-heading {
    color: white;
    font-size: 2.875em;
    font-weight: 700;
    text-align: center;
    margin: 0 0 10px 0;
}

.listening-heading {
    color: white;
    font-size: 2.875em;
    font-weight: 700;
    text-align: center;
    margin: 0 0 10px 0;
}


/* styling for paragraphs*/
.paragraph-1 {
    color: #ccc;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 4px;
}

/* styling for the second paragraphs */
.paragraph-2 {
    color: #9e9e9e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 500;
}

/*Styling for third paragraphs*/
.paragraph-3 {
    color: #ccc;
    font-size: 1em;
}

.link a {
    font-size: 1em;
}

.header-paragraph {
    color: #ccc;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Vollkorn', serif;
}

/*Styling for images and weblinks*/
img {
    transition: all 300ms ease-in-out;
}

img:hover {
    opacity: 0.7;
}

a:link {
    text-decoration: none;
    color: #ff3;
}

a:visited {
    color: #ff3;
}

a:hover {
    color: rgb(94, 93, 93);
}

/*Styling for main container*/
.main-container {
    max-width: 80em;
    margin: 0 auto;
    padding: 0;
}

/*Styling for Header container*/
.header-container {
    display: grid;
    text-align: center;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 auto 0 auto;
    padding: 3.5em 0 1.75em 0;
    width: 100%;
    height: 400px;
}

.header img {
    border-radius: 50%;
}

/*Styling for Work Container*/
.work-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    border-bottom: #666 1px solid;
    padding-bottom: 60px;
    margin: 0 0 3.5em 0;
    grid-gap: 1.25em;
}

.work-container > div {
    max-width: 100%;
    height: auto;
    width: auto;
    font-size: 1.5em;
    margin-bottom: 1.875em;
    align-content: left;
}

.work-container > div img {
    max-width: 100%;
} 

/*Stying for Photography Container*/
.photography-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto 3.5em auto;
    grid-gap: 1em;
    border-bottom: #666 1px solid;
    padding-bottom: 4.5em;
}

.photography-container > div {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: 1.875em;
}

.photography-container > div img {
    max-width: 100%;
}

/*Styling for images in photography*/
.pic-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.pic-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.pic-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2 / span 2;
    width: auto;
}

/*Styling for Currently Listening*/
.listening-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    margin: 0 auto 3.5em auto;
    border-bottom: #666 1px solid;
    padding-bottom: 4.5em;
    grid-gap: 1.25em;  
}

.listening-container > div {
    text-align: center;
    font-size: 1.5em;
}

.listening-container img {
    height: 12.5em;
    width: 17.5em;
    max-width: 100%;
}

/*styling for footer*/
.footer {
    margin: 0 auto;
    display: flex;
}

.footer ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    padding: 0;
}

.footer li {
    font-size: 1.25em;
    line-height: 1.5;
}

.footer li a{
    padding: 0 1em 0 0;
}

.footer p {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 1 0;
    margin: auto;
    font-size: 1.25em;
    line-height: 1.5;
}

/* Media query for break point 960px */
@media (max-width: 960px) {
    body {
        background-color: rgba(0, 0, 0, 0.952);
        font-family: Vollkorn,-apple-system,BlinkMacSystemFont,Georgia,Times New Roman,Times,serif;
        border-top: 13px solid rgb(61, 60, 60);
        margin: auto;
        padding: 3.5em;
    }

    .header-container {
        display: grid;
        text-align: center;
        font-weight: 400;
        line-height: 1.3;
        margin: auto;
        padding: auto;
        padding-top: 0px;
        width: 100%;
    }

    .header img {
        border-radius: 50%;
        height: 7.5em;
    }

    .work-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: auto;
        border-bottom: #666 1px solid;
        padding-bottom: 3.75em;
        grid-gap: 1.25em;
    }

    .work-container > div {
        width: 100%;
        max-height: auto;
        max-width: auto;
        font-size: 1.5em;
        margin-bottom: 1.875em;
        align-content: left;
    }

    .photography-heading {
        color: white;
        font-size: 2.875em;
        font-weight: 700;
        text-align: center;
        margin-top: 1.875em;
    }

    .photography-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        width: 100%;
        margin-bottom: 3.125em;
        grid-gap: 1em;
        border-bottom: #666 1px solid;
        padding-bottom: 4.5em;
        grid-gap: 10px;
    }

    .photography-container > div {
        max-width: auto;
        text-align: center;
        font-size: 1.25em;
        max-height: auto;
        overflow: hidden;
    }    

    .listening-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        margin: 0 auto;
        height: auto;
        border-bottom: #666 1px solid;
        padding-bottom: 4.5em;
        overflow: hidden;
    }

    .listening-container img {
        height: auto;
        width: auto;
        max-width: 100%;
    }

    .footer {
        margin: auto;
        display: -ms-inline-grid;
    }

    img {
        height: auto;
        width: auto;
        max-width: 100%;
    }
}

/* Media query for break point 480px */
@media (max-width:480px) {
    body {
        background-color: rgba(0, 0, 0, 0.952);
        font-family: Vollkorn,-apple-system,BlinkMacSystemFont,Georgia,Times New Roman,Times,serif;
        border-top: 13px solid rgb(61, 60, 60);
        margin: 0 auto;
    }

    p {
        color: #ccc;
        font-size: 1.5em;
        font-weight: 400;
        font-family: 'Vollkorn', serif;
        margin-top: 0;
    }

    .main-container {
        max-width: 30em;
        margin: 0 auto;
        padding: 0;
    }

    .header-container {
        display: grid;
        text-align: center;
        font-weight: 400;
        line-height: 1.3;
        margin: 0 auto 0 auto;
        padding: 0 0 1.525em 0;
        width: 100%;
    }

    .header img {
        border-radius: 50%;
        height: 120px;
    }

    .selected-heading {
        color: white;
        font-size: 2.875em;
        font-weight: 700;
        text-align: center;
        padding-top: 3.25em;
    }

    .work-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0 auto;
        border-bottom: #666 1px solid;
        padding-bottom: 3.75em;
        grid-gap: 1.25em;
    }

    .work-container > div {
        width: 100%;
        min-height: 18.75em;
        font-size: 1.5em;
        margin-bottom: 1.875em;
        align-content: left;
    }

    .photography-heading {
        margin-top: 2.5em;
    }

    .photography-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0 auto;
        grid-gap: 1em;
        border-bottom: #666 1px solid;
        padding-bottom: 4.5em;
    }

    .pic-1 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .pic-2 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .pic-3 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .pic-4 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .pic-5 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .listening-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0 auto;
        border-bottom: #666 1px solid;
        padding-bottom: 4.5em;
        grid-gap: 1.25em;
        
    }
    
    .listening-container > div {
        text-align: center;
        font-size: 1.5em;
    }
    
    .listening-heading {
        margin-top: 2.5em;
    }

    .listening-container img {
        height: 10em;
        width: 18.75em;
        max-width: 100%;
    }
    
    /*Styling for footer*/
    .footer {
        display: block;
        text-align: center;
    }

    .footer ul {
        justify-content: center;
        align-items: center;
    }

    .footer p {
        justify-content: center;
    }
}
